.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-end: 1px solid #000000;

    .header__title {
        font-size: 1.25rem;
    }

    .header__btn {
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }

}